<div class="formBody" *ngIf="isValid">
    <div class="card">
        <div class="card-body">
            <div *ngIf="!isChanged">

                <div class="mb-3">Reset Password</div>
                <div class="mb-3">Please Enter Your New Password</div>
                <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                    <div class="mb-5">
                        <mat-form-field class="inputLine">
                            <mat-label>Password</mat-label>

                            <input matInput [type]="show ? 'text' : 'password'" formControlName="password">
                            <i [class]="show_eye ? 'fa fa-eye fa-lg' : 'fa fa-eye-slash fa-lg'" (click)="showPassword()"></i>

                        </mat-form-field>
                    </div>
                    <div class="mb-5">
                        <mat-form-field class="inputLine">
                            <mat-label>Password</mat-label>

                            <input matInput type="password" formControlName="confirmPassword">
                        </mat-form-field>
                    </div>
                    <div class="mb-2" style="height: 6rem;">
                        <button class="btn btn-primary mb-3" [disabled]="resetForm.invalid || showLoader">Submit</button>

                        <div *ngIf="showLoader">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>



                </form>
            </div>
            <div *ngIf="isChanged">

                <div class="mb-3">
                    Password has been reset successfully!
                </div>
                <div>
                    <button class="btn btn-primary" [routerLink]="['/login']">Login</button>
                </div>

            </div>
        </div>
    </div>