.background-image {
    background-image: url('../../../assets/error-image.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}