<div class="formBody">
    <div class="card">
        <div class="card-body">
            <div *ngIf="!showResetDiv">
                <div class="mb-3">
                    Forget Password ?
                </div>
                <div class="mb-3">
                    Please Enter Registered Email Address
                </div>
                <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
                    <mat-form-field class="inputLine mb-4">
                        <mat-label>Email Address</mat-label>
                        <input matInput type="text" formControlName="email" formControlName="email">
                    </mat-form-field>
                    <div class="mb-2" style="height: 6rem;">
                        <button class="btn btn-primary mb-3" [disabled]="forgotForm.invalid || showLoader">Submit</button>

                        <div *ngIf="showLoader">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngIf="showResetDiv">
                <div class="mb-3">
                    Email Sent
                </div>
                <div class="mb-3">
                    Please follow the verification link sent to your Email-Id to reset the password.
                </div>
                <div>
                    <button class="btn btn-primary" [routerLink]="['/login']">Login</button>
                </div>

            </div>
        </div>
    </div>
</div>